@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap');

html {
  height: 100%;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}

body {
  height: 100%;
  background-color: black;
  margin: 0;
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  display: flex;
  font-size: 4vmax;
  width: 100%;
  height: 30%;
  text-align: center;
  justify-content: center;
}

h2 {
  font-family: Jetbrains Mono;
  font-size: 1.5vmax;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 2vh;
  color: #ccff00;
  text-align: left;
}

h3 {
  font-size: 1.3vmax;
  margin: 2vh;
}

p {
  /* background-color: gray; */
  font-size: 1vmax;
  margin: 1vh;
  color: white;
  line-height: 180%;
  font-family: Jetbrains Mono;
}

#intro-text {
  padding-left: 5vw;
  text-align: left;
}

section {
  justify-content: center;
  height: 100vh;
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  }

.glowing {
  text-shadow: 0 0 10px #8DB255, 0 0 10px #8DB255, 0 0 1px #8DB255, 0 0 3px #8DB255, 0 0 1px #8DB255, 0 0 5px #8DB255, 0 0 10px #8DB255;
  align-items: center;
}

.about {
  /* background-color: blue; */
  display: flex;
  color: white;
  text-align: center;
  justify-content: center;
  height: 100vh;
  display: flex;
  align-items: normal;
  margin: 0 auto;
  overflow-y: hidden;
}

#after-intro {
  width: 75%;
  margin: 0 auto;
}

#cursor1 {
  color: white;
  font-size: 4.2vmax;
  font-weight: lighter;
  animation: blink 1s step-end infinite;
}

.project {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;     
  justify-content: center; 
  text-align: center; 
  overflow: hidden;
  width: 100%;
}

.hobbies-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  margin: auto;
}

.skill {
  font-size: 20px;
}

.hobbies {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hobbies i {
  font-size: 40px;
}

svg {
  width: 40px;
  height: 40px;
}

.project-h2 {
  background-color: black;
  display: block;
  width: 75%;
}

.experience-container {
  /* background-color: blanchedalmond; */
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}


.content-container {
  /* background-color: #1c1f24; */
  display: flex;
  width: 90%;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
}


.experience-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: aquamarine; */
  min-width: 100%;
  transition: transform 0.5s ease-in-out;
}

.project-name, .company{
  text-align: left;
}

.job-info {
  display: flex;
}

.job-title {
  text-align: left;
  width: 40%;
}


.location-container, .date-container {
  display: flex;
  align-items: center;
}

.fa-location-dot, .fa-calendar-days {
  display: inline-block;
  vertical-align: bottom;
  color: darkgray;
  font-size: 1vmax;
}
.date-and-location {
  /* background-color: green; */
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}

.project-details, .job-details {
  text-align: left;
}

.project-technologies {
  text-align: right;
  font-size: 40px;
}

.arrow {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.arrow i {
  color: #1c1f24;
  transition: color 0.5s ease;
  font-size: 10vmax;
  margin: 2vw;
}

.arrow i:hover {
  color: white;
}


.icon {
  transition: transform 0.3s ease;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  margin: 20px;
  vertical-align: middle;
  width: 2.5vmax;
  height: 2.5vmax;
}

.icon:hover {
  transform: scale(1.3);
}

.fa-database {
  color: #00558b;
}

.fa-java {
  color: #f89820;
}

.fa-react {
  color: #7ddfff
}

.fa-js {
  color: #f0db4f;
}

.experience-nav {
  display: flex;
  justify-content: center; /* Center horizontally */
  gap: 20px; /* Space between items */
  flex-wrap: wrap; /* Allows items to move to a new line if needed */
}

.experience-nav p {
  font-size: 1.2rem;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.experience-nav p:hover {
  background-color: #ccff00;
  color: black;
}

.option {
  min-width: 180px;

}

.selected {
  background-color: #ccff00;
  color: black !important;
}

.hide {
  display: none;
}


nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  padding: 15px 0;
  z-index: 1; /* Ensures it stays on top */
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: right;
  gap: 20px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px;
  transition: 0.5s;
  margin-right: 20px;
}

nav ul li a:hover {
  color: #ccff00;
}

nav ul li a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #ccff00;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: transform 0.4s ease-in-out;
}

nav ul li a:hover::after {
  transform: translateX(-50%) scale(0.8);
}

nav ul li a.active {
  color: #ccff00; 
}

nav ul li a.active::after {
  transform: translateX(-50%) scaleX(0.8);
}

#after-intro{
  animation-duration: 2.5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-top: 100%;
  } to {
    margin-top: 0%;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}